{% load static %}
<html>
<head><title>如何从接龙小程序中导出zip文件</title>
</head>
<body>
<a href='/'>返回主页</a>
<p>第一步：在手机上的接龙小程序上点击'导出数据'</p>
<img src="https://cdn.nlark.com/yuque/0/2022/jpeg/90000/1651200834394-b63bab6e-35a3-4253-a284-05e42f45ba4b.jpeg" alt="step1">
<p>第二步：点击'导出图片中的生成下载链接'</p>
<img src="https://cdn.nlark.com/yuque/0/2022/jpeg/90000/1651200834432-e226aee7-c7f6-4537-8679-a358faab0175.jpeg" alt="step2">
<p>第三步：选择具体一天日期的日期，点击'每人一个文件夹'，然后点击'确定'</p>
<img src="https://cdn.nlark.com/yuque/0/2022/jpeg/90000/1651200834455-a9465ccb-d0d6-4ba6-8a3e-186dd3d1573e.jpeg" alt="step3">
<p>第四步：点击'复制下载链接'，把下载链接发到电脑端下载即可</p>
<img src="https://cdn.nlark.com/yuque/0/2022/jpeg/90000/1651200834492-b009ef91-d9c1-4954-a2b6-563883b8fdc7.jpeg" alt="step4">
<br><br>
<a href='/'>返回主页</a>
</body>
</html>
