<html>
<head></head>
<body>
   <p><b>项目说明:</b></p>
   <p>由于疫情，老师需要收集开学前3天学生和同住人员的核酸检测记录，行程码，老师需要核对学生提交的信息是否正确。</p>
   <p>学生家长提交每天的核酸检测结果(含检测中),行程码，老师需要核对以下信息:</p>
   <p>1. 学生和同住人员数量，比如老师的excel中填写的是4人(含学生本人)，那提交的记录就应该有4份核酸记录，行程码不做数量检查</p>
   <p>2. 检查提交的核酸记录是否在某天之后的，比如必须是2022-4-2，如果家长提交了3月31号的数据，这种情况要报告出来。</p>
   <p>3. 查找出核酸结果还在'检测中’的学生，因为有时候家长当天做的结果还没有出来，老师需要在第二天提醒学生家长提交结果。</p>
   <p>4. 检查学生家长行程码是否带星，主要是因为家长有时候会忘记跟老师报备，行程码带星的学生需要老师特别关注。</p>
   <p><b>准备资料：</b></p>
   <p>1. 接龙小程序把数据导出成zip即可。</p>
   <p>如果不知道如何从接龙小程序导出zip文件，<a href='/how_to_export_zip'>点此查看具体步骤</a></p>
   <p>2. 一个excel表，第一列填写学生姓名，第二列填写同住人员数量(含学生本人)，此excel表不需要表头,如下(此步骤非必须，如果不需要对比提交的核酸记录数量可以跳过),这个表只需要收集一次即可重复使用，而且可以跟踪到同住人员数量变化。比如某段时间内，同住人员出差了或者老人回老家或者过来深圳了</p>
   <table border="2">
	   <tr> <td>张三</td><td>4</td></tr>
	   <tr><td>李四</td><td>5</td></tr>
   </table>
   <p><b>如何开始:</b></p>
   <p><a href='/steps'>开始处理</a></p><br><br>
   <p><b>关于核酸记录截图说明</b></p>
   <p>请提交核酸检测记录(如下图)而不是24小时核酸码,比如5月5号要求上学当天是24小时核酸记录，其实就是要求检测时间必须是5月4号。所以当检测时间是4号，我们唯一的问题就是有些人的核酸结果没有出来，我们需要在第二天跟踪这部分学生即可。另外程序读取的是最新的检测时间，所以不需要家长额外处理截图。
   </p>
   <img src="https://cdn.nlark.com/yuque/0/2022/jpeg/90000/1651215058332-2a30f5c3-4fa2-46c2-8c58-0313675c63f8.jpeg?x-oss-process=image%2Fresize%2Cw_750%2Climit_0" >
</body>
</html>
